
@{
    ViewBag.Title = "News";
}

 <!-- Header -->
<!-- ჩვენი ტრენინგ ცენტრი -->
<div id="testimonials" class="text-center">
    <div class="container-fluid">
        <div class="section-title center">
            <h2>ჩვენი სიახლეები</h2>
        </div>

        <div class="row news-row">
            <div class="col-md-6 text-left col-md-offset-1 news-text">
                <h2>საქართველოში ქალები ბიზნესში ნაკლებად რისკავენ</h2>
                <p class="news-date">30.09.2016</p>
                <p>
                    უჭირთ თუ არა საქართველოში ქალებს სესხის აღება? რამდენად ხშირია სახელმწიფო ბიზნეს-პროგრამებში ქალების ჩართულობა და რა წინააღმდეგობას აწყდებიან ქალები ამ მხრივ? ამ და სხვა საკითხებზე რადიო „კომერსანტის" გადაცემაში „წარმატებული ქალები" მეწარმეობის განვითარების სააგენტოს ხელმძღვანელმა ანი კვარაცხელიამ ისაუბრა.
                </p>
                <button class="btn btn-default">მეტი</button>
            </div>
            <div class="col-md-5 text-left news-picture" style="background-image:url('../../img/news/1.jpg')"></div>
        </div>

        <div class="row news-row">
            <div class="col-md-5 text-left news-picture" style="background-image:url('../../img/news/2.jpg')"></div>
            <div class="col-md-6 text-left news-text">
                <h2>ქართველი სამხედროები ავღანეთიდან დაბრუნდნენ</h2>
                <p class="news-date">30.09.2016</p>
                <p>
                    ქართველ სამხედროებს საქართველოს თავდაცვის მინისტრი, ლევან იზორია და აშშ-ის ელჩი საქართველოში, იან კელი ალექსეევკის აეროპორტში დახვდნენ.
                    თავდაცვის მინისტრმა და ამერიკის ელჩმა სამხედრო მოსამსახურეებს სამშობლოში მშვიდობიანად დაბრუნება მიულოცეს და სამშვიდობო მისიის წარმატებით შესრულებისთვის მადლობა გადაუხადეს.
                </p>
                <button class="btn btn-default">მეტი</button>
            </div>
        </div>

        <div class="row news-row">
            <div class="col-md-6 text-left col-md-offset-1 news-text">
                <h2>საქართველოში ქალები ბიზნესში ნაკლებად რისკავენ</h2>
                <p class="news-date">30.09.2016</p>
                <p>
                    უჭირთ თუ არა საქართველოში ქალებს სესხის აღება? რამდენად ხშირია სახელმწიფო ბიზნეს-პროგრამებში ქალების ჩართულობა და რა წინააღმდეგობას აწყდებიან ქალები ამ მხრივ? ამ და სხვა საკითხებზე რადიო „კომერსანტის" გადაცემაში „წარმატებული ქალები" მეწარმეობის განვითარების სააგენტოს ხელმძღვანელმა ანი კვარაცხელიამ ისაუბრა.
                </p>
                <button class="btn btn-default">მეტი</button>
            </div>
            <div class="col-md-5 text-left news-picture" style="background-image:url('../../img/news/3.jpg')"></div>
        </div>

        <div class="row news-row">
            <div class="col-md-5 text-left news-picture" style="background-image:url('../../img/news/4.jpg')"></div>
            <div class="col-md-6 text-left news-text">
                <h2>ქართველი სამხედროები ავღანეთიდან დაბრუნდნენ</h2>
                <p class="news-date">30.09.2016</p>
                <p>
                    ქართველ სამხედროებს საქართველოს თავდაცვის მინისტრი, ლევან იზორია და აშშ-ის ელჩი საქართველოში, იან კელი ალექსეევკის აეროპორტში დახვდნენ.
                    თავდაცვის მინისტრმა და ამერიკის ელჩმა სამხედრო მოსამსახურეებს სამშობლოში მშვიდობიანად დაბრუნება მიულოცეს და სამშვიდობო მისიის წარმატებით შესრულებისთვის მადლობა გადაუხადეს.
                </p>
                <button class="btn btn-default">მეტი</button>
            </div>
        </div>

        <ul class="pagination news-pagination">
            <li class="page-item"><a class="page-link" href="#">◄</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">15</a></li>
            <li class="page-item"><a class="page-link" href="#">►</a></li>
        </ul>
    </div>
</div>

<link href="~/Content/Pages/news.css" rel="stylesheet" />