
@{
    ViewBag.Title = "Price";
}

 <!-- ჩვენი ტრენინგ ცენტრი -->
<div id="testimonials" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>ფინანსური ანალიტიკოსი</h2>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <p>
                    ჩვენ ვართ PR & მარკეტიგული კომპანია, რომელიც გამოთქვამს მზადყოფნას, შექმნას ეფექტური გზები, რომლებიც თქვენი კომპანიის გაყიდვებს შეუწყობს ხელს. ჩვენ ვიყენებთ თანამშრომლობის თანამედროვე ტექნოლოგიებს და ვქმნით გრძელვადიანი, წარმატებული თანამშრომლობის მყარ ფუნდამენტს. ჩვენ ვართ ის მოაჯირი, რომელიც წარმატებისკენ აღმავალ კიბეს მიუყვება.
                </p>
                <br />
                <p>
                    ჩვენ ვმოქმედებთ დამოუკიდებლად, ვინარჩუნებთ უნიკალურობას და უარვყოფთ სტერეოტიპებს. ჩვენ ვართ საუკეთესო და ამასთან, ვინარჩუნებთ თავმდაბლობას. ჩვენ გვიყვარს საკუთარი თავის 101%-ით წარმოჩენა.
                </p>
                <br />
                <p>
                    რეალურად, ჩვენი ფილოსოფია მარტივია - უბრალოდ გვიყვარს ჩვენი საქმე და ამასთან, სიამოვნებას ვიღებთ საქმის საუკეთესო გზით კეთებით. დიდად ვაფასებთ ურთიერთობებს, შესაბამისად ყურადღებას ბიზნეს პარტნიორობასა და გრძელვადიან
                </p>
                <br />
            </div>
        </div>
    </div>
</div>



<div id="divider-picture" class="container-fluid"></div>


<div id="testimonials" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>ყველა სასწავლო პროგრამა და მათი ფასები</h2>
        </div>
        <div class="row">
            <div class="col-md-4 text-left">
                <a><p>ბიოსამედიცინო ინჟინერია</p></a>
                <br />
                <a><p>ქიმიური</p></a>
                <br />
                <a><p>ქიმია</p></a>
                <br />
                <a><p>კომპიუტერული მეცნიერება</p></a>
                <br />
                <a><p>აღმოსავლეთ აზიის ენები</p></a>
                <br />
                <a><p>ეკოლოგია </p></a>
                <br />
            </div>
            <div class="col-md-4 text-left">
                <a><p>ეკოლოგია</p></a>
                <br />
                <a><p>კომპიუტერული მეცნიერება</p></a>
                <br />
                <a><p>აღმოსავლეთ აზიის ენები</p></a>
                <br />
                <a><p>ქიმია</p></a>
                <br />
                <a><p>ქიმიური</p></a>
                <br />
                <a><p>ბიოსამედიცინო ინჟინერია</p></a>
                <br />
            </div>
            <div class="col-md-4 text-left">
                <a><p>ბიოსამედიცინო ინჟინერია</p></a>
                <br />
                <a><p>ქიმიური</p></a>
                <br />
                <a><p>აღმოსავლეთ აზიის ენები</p></a>
                <br />
                <a><p>ქიმია</p></a>
                <br />
                <a><p>კომპიუტერული მეცნიერება</p></a>
                <br />
                <a><p>ეკოლოგია </p></a>
                <br />
            </div>
        </div>
    </div>
</div>

<link href="~/Content/Pages/price.css" rel="stylesheet" />