<!-- Header -->
<!-- ჩვენი ტრენინგ ცენტრი -->
<div id="testimonials" class="text-center">
    <div class="container-fluid">
        <div class="section-title center">
            <h2>საფასური, გადახდის პირობები, დაფინანსების შესაძლებლობები</h2>
        </div>
    </div>
</div>



<div id="divider-picture" class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-5 courses-container">
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/courses/course1.png" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>საკრედიტო ექსპერტი</h2>
                        <p>ნინო ჩაგუნავა</p>
                        <p>ოქტომბერი, 2016</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>250₾</h2>
                    </div>
                </div>
            </button>
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/courses/course2.png" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>ფინანსური ანალიტიკა</h2>
                        <p>იოანე გოლიაძე</p>
                        <p>ოქტომბერი, 2016</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>300₾</h2>
                    </div>
                </div>
            </button>
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/courses/course3.png" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>რისკები</h2>
                        <p>ვანო მღებრიშვილი</p>
                        <p>ოქტომბერი, 2016</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>200₾</h2>
                    </div>
                </div>
            </button>
            <button class="btn btn-default btn-course">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/courses/course4.png" />
                    </div>
                    <div class="col-md-6 course-text">
                        <h2>ექსელი</h2>
                        <p>ნინო ჩაგუნავა</p>
                        <p>ოქტომბერი, 2016</p>
                    </div>
                    <div class="col-md-3 col-md-right course-price-container">
                        <h2>350₾</h2>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>


<div id="testimonials" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>ყველა სასწავლო პროგრამა და მათი ფასები</h2>
        </div>
        <div class="row">
            <div class="col-md-4 text-left">
                <a><p>ბიოსამედიცინო ინჟინერია</p></a>
                <br />
                <a><p>ქიმიური</p></a>
                <br />
                <a><p>ქიმია</p></a>
                <br />
                <a><p>კომპიუტერული მეცნიერება</p></a>
                <br />
                <a><p>აღმოსავლეთ აზიის ენები</p></a>
                <br />
                <a><p>ეკოლოგია </p></a>
                <br />
            </div>
            <div class="col-md-4 text-left">
                <a><p>ეკოლოგია</p></a>
                <br />
                <a><p>კომპიუტერული მეცნიერება</p></a>
                <br />
                <a><p>აღმოსავლეთ აზიის ენები</p></a>
                <br />
                <a><p>ქიმია</p></a>
                <br />
                <a><p>ქიმიური</p></a>
                <br />
                <a><p>ბიოსამედიცინო ინჟინერია</p></a>
                <br />
            </div>
            <div class="col-md-4 text-left">
                <a><p>ბიოსამედიცინო ინჟინერია</p></a>
                <br />
                <a><p>ქიმიური</p></a>
                <br />
                <a><p>აღმოსავლეთ აზიის ენები</p></a>
                <br />
                <a><p>ქიმია</p></a>
                <br />
                <a><p>კომპიუტერული მეცნიერება</p></a>
                <br />
                <a><p>ეკოლოგია </p></a>
                <br />
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/page/prices")
