
@{
    ViewBag.Title = "Corporate";
}

<!-- Header -->
<!-- ჩვენი ტრენინგ ცენტრი -->
<div id="testimonials" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>კორპორაციული კლიენტებისთვის</h2>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <p>
                    ჩვენ ვართ PR & მარკეტიგული კომპანია, რომელიც გამოთქვამს მზადყოფნას, შექმნას ეფექტური გზები, რომლებიც თქვენი კომპანიის გაყიდვებს შეუწყობს ხელს. ჩვენ ვიყენებთ თანამშრომლობის თანამედროვე ტექნოლოგიებს და ვქმნით გრძელვადიანი, წარმატებული თანამშრომლობის მყარ ფუნდამენტს. ჩვენ ვართ ის მოაჯირი, რომელიც წარმატებისკენ აღმავალ კიბეს მიუყვება.
                </p>
                <br />
                <p>
                    ჩვენ ვმოქმედებთ დამოუკიდებლად, ვინარჩუნებთ უნიკალურობას და უარვყოფთ სტერეოტიპებს. ჩვენ ვართ საუკეთესო და ამასთან, ვინარჩუნებთ თავმდაბლობას. ჩვენ გვიყვარს საკუთარი თავის 101%-ით წარმოჩენა.
                </p>
                <br />
                <p>
                    რეალურად, ჩვენი ფილოსოფია მარტივია - უბრალოდ გვიყვარს ჩვენი საქმე და ამასთან, სიამოვნებას ვიღებთ საქმის საუკეთესო გზით კეთებით. დიდად ვაფასებთ ურთიერთობებს, შესაბამისად ყურადღებას ბიზნეს პარტნიორობასა და გრძელვადიან
                </p>
                <br />
            </div>
        </div>
    </div>
</div>


<div id="works">
    <div class="container">
        <!-- Container -->
        <div class="section-title text-center center">
            <h2>კორპორაციული ტრენინგები</h2>
        </div>
        <div class="row">
            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 419px;">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 lorem isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="img/portfolio/01.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <p>Web Design</p>
                                </div>
                                <img src="img/portfolio/01.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 consectetur isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(292px, 0px, 0px);">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="img/portfolio/02.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <p>Web Development</p>
                                </div>
                                <img src="img/portfolio/02.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 lorem isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(584px, 0px, 0px);">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="img/portfolio/03.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <p>Web Design</p>
                                </div>
                                <img src="img/portfolio/03.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 lorem isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(876px, 0px, 0px);">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="img/portfolio/04.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <p>Web Design</p>
                                </div>
                                <img src="img/portfolio/04.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 consectetur isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(292px, 205px, 0px);">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="img/portfolio/05.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <p>Web Development</p>
                                </div>
                                <img src="img/portfolio/05.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 dapibus isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(876px, 209px, 0px);">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="img/portfolio/06.jpg" title="Project description" rel="prettyPhoto">
                                <img src="img/portfolio/06.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 dapibus consectetur isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(584px, 211px, 0px);">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="img/portfolio/07.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <p>Web Development, Branding</p>
                                </div>
                                <img src="img/portfolio/07.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 lorem isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 214px, 0px);">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="img/portfolio/08.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <p>Web Design</p>
                                </div>
                                <img src="img/portfolio/08.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-offset-3 section-title text-center center box-call">
            <h2>დეტალური ინფორმაციისთვის დაგვიკავშირდით</h2>
            <br />
            <span>0322 100 102</span>
        </div>
    </div>
</div>


<div id="examservice" class="text-center corporate-service">
        <div class="section-title center">
            <h2>ტესტირების ორგანიზება</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-offset-3  text-left text-center center">
                <p>
                    რეალურად, ჩვენი ფილოსოფია მარტივია - უბრალოდ გვიყვარს ჩვენი საქმე და ამასთან, სიამოვნებას ვიღებთ საქმის საუკეთესო გზით კეთებით. დიდად ვაფასებთ ურთიერთობებს, შესაბამისად ყურადღებას ბიზნეს პარტნიორობასა და გრძელვადიან ურთიერთობებზე ვამახვილებთ. ჩვენ სარგებელს კონტრაქტის ღირებულებით არ
                </p>
                <br />
                <button class="btn btn-default">დაგვიკავშირდით</button>
            </div>
        </div>
</div>

<div id="trainingservice" class="text-center corporate-service">
    <div class="section-title center">
        <h2>ტრენინგის ორგანიზება</h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-offset-3  text-left text-center center">
            <p>
                ჩვენ ვმოქმედებთ დამოუკიდებლად, ვინარჩუნებთ უნიკალურობას და უარვყოფთ სტერეოტიპებს. ჩვენ ვართ საუკეთესო და ამასთან, ვინარჩუნებთ თავმდაბლობას. ჩვენ გვიყვარს საკუთარი თავის 101%-ით წარმოჩენა.
            </p>
            <br />
            <button class="btn btn-default">დაგვიკავშირდით</button>
        </div>
    </div>
</div>


@section FooterSection {
    <link href="~/Content/Css/Pages/corporate.css" rel="stylesheet" />
}