
@{
    ViewBag.Title = "Corporate";
}

<!-- Header -->
<!-- ჩვენი ტრენინგ ცენტრი -->
<div id="testimonials">
    <div class="container">
        <div class="section-title text-center center">
            <h2>ვისთვისაა კურსი</h2>
        </div>
        <div class="row margin-2">
            <div class="col-md-1">
                <button class="btn social-icon"><i class="fa fa-facebook"></i></button>
                <br />
                <button class="btn social-icon"><i class="fa fa-linkedin"></i></button>
                <br />
                <button class="btn social-icon social-icon-grey"><i class="fa fa-print"></i></button>
            </div>
            <div class="col-md-8">
                <p>
                    ჩვენ ვართ PR & მარკეტიგული კომპანია, რომელიც გამოთქვამს მზადყოფნას, შექმნას ეფექტური გზები, რომლებიც თქვენი კომპანიის გაყიდვებს შეუწყობს ხელს. ჩვენ ვიყენებთ თანამშრომლობის თანამედროვე ტექნოლოგიებს და ვქმნით გრძელვადიანი, წარმატებული თანამშრომლობის მყარ ფუნდამენტს. ჩვენ ვართ ის მოაჯირი, რომელიც წარმატებისკენ აღმავალ კიბეს მიუყვება.
                </p>
            </div>
            <div class="col-md-3 pull-right training-buttons-container">
                <button class="btn btn-default combobox-button pull-right">სხვა ტრენინგები <i class="fa fa-chevron-down"></i></button>
                <button class="btn btn-default pull-right margin-top-2">რეგისტრაცია</button>
            </div>
        </div>
        <div class="row margin-2">
            <div class="col-md-12">
                <div class="tab-panel">
                    <a class="tab-link" href="#">მიმოხილვა</a>
                    <a class="tab-link" href="#">შინაარსი</a>
                    <a class="tab-link" href="#">ტრენერები</a>
                    <a class="tab-link" href="#">განრიგი და ფორმატი</a>
                </div>
            </div>
        </div>
        <div class="row col-md-9 margin-2">
            <div class="row col-md-12">
                <p>
                    ჩვენ ვართ PR & მარკეტიგული კომპანია, რომელიც გამოთქვამს მზადყოფნას, შექმნას ეფექტური გზები, რომლებიც თქვენი კომპანიის გაყიდვებს შეუწყობს ხელს. ჩვენ ვიყენებთ თანამშრომლობის თანამედროვე ტექნოლოგიებს და ვქმნით გრძელვადიანი, წარმატებული თანამშრომლობის მყარ ფუნდამენტს. ჩვენ ვართ ის მოაჯირი, რომელიც წარმატებისკენ აღმავალ კიბეს მიუყვება.
                </p>
            </div>
            <div class="row col-md-12">
                <p>
                    ჩვენ ვართ PR & მარკეტიგული კომპანია, რომელიც გამოთქვამს მზადყოფნას, შექმნას ეფექტური გზები, რომლებიც თქვენი კომპანიის გაყიდვებს შეუწყობს ხელს. ჩვენ ვიყენებთ თანამშრომლობის თანამედროვე ტექნოლოგიებს და ვქმნით გრძელვადიანი, წარმატებული თანამშრომლობის მყარ ფუნდამენტს. ჩვენ ვართ ის მოაჯირი, რომელიც წარმატებისკენ აღმავალ კიბეს მიუყვება.
                </p>
            </div>
            <div class="row col-md-12 margin-top-2">
                <p>
                    ჩვენ ვართ PR & მარკეტიგული კომპანია, რომელიც გამოთქვამს მზადყოფნას, შექმნას ეფექტური გზები, რომლებიც თქვენი კომპანიის გაყიდვებს შეუწყობს ხელს. ჩვენ ვიყენებთ თანამშრომლობის თანამედროვე ტექნოლოგიებს და ვქმნით გრძელვადიანი, წარმატებული თანამშრომლობის მყარ ფუნდამენტს. ჩვენ ვართ ის მოაჯირი, რომელიც წარმატებისკენ აღმავალ კიბეს მიუყვება.
                </p>
            </div>
            <div class="row col-md-12 margin-top-2">
                <p>
                    ჩვენ ვართ PR & მარკეტიგული კომპანია, რომელიც გამოთქვამს მზადყოფნას, შექმნას ეფექტური გზები, რომლებიც თქვენი კომპანიის გაყიდვებს შეუწყობს ხელს. ჩვენ ვიყენებთ თანამშრომლობის თანამედროვე ტექნოლოგიებს და ვქმნით გრძელვადიანი, წარმატებული თანამშრომლობის მყარ ფუნდამენტს. ჩვენ ვართ ის მოაჯირი, რომელიც წარმატებისკენ აღმავალ კიბეს მიუყვება.
                </p>
            </div>
        </div>
        <div class="row col-md-3 pull-right margin-2">
            <div class="training-price-container">
                <span class="training-price-header">კურსის საფასური:</span>
                <div class="training-price-box">
                    <span class="training-price">450</span>
                    <span class="training-price-currency">GEL</span>
                </div>
            </div>
            <img class="training-thumbnail margin-top-2" src="~/Content/images/Pages/Training/training-thumbnail.png" />
        </div>
    </div>
</div>

@section FooterSection {
    <link href="~/Content/Css/Pages/training.css" rel="stylesheet" />
}