
@{
    ViewBag.Title = "Trainer";
}

<!-- Header -->
<!-- ჩვენი ტრენინგ ცენტრი -->
<div id="testimonials" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>ნიკოლოზ კანდელაკი</h2>
        </div>
        <div class="row">
            <div class="col-md-6 text-left trainer-picture">
                <img src="~/Content/images/Pages/Trainer/trainer.png" height="560px" width="500px" />
            </div>
            <div class="col-md-6 text-left trainer-text">
                <a href="https://www.linkedin.com/in/burnoutdev/" class="trainer-linkedin">
                    <img src="~/img/linkedin.png" />
                </a>
                <p>
                    სასწავლო ცენტრი "ბი პროს" დამფუძნებელი, საბანკო/საფინანსო სექტორში 9 წლიანი სამუშაო გამოცდილების მქონე, გამორჩეული პოზიციები - კორპორატიული სასწავლო ცენტრი "ბი პროს" დამფუძნებელი, საბანკო/საფინანსო სექტორში 9 წლიანი სამუშაო გამოცდილების მქონე, გამორჩეული პოზიციები - კორპორატიული ბანკირი, ფილიალის დირექტორი, ფილიალის დირექტორის მოადგილე, ბიზნეს სესხების უფროსი, საკრედიტო ექსპერტი სასწავლო ცენტრი "ბი პროს" დამფუძნებელი, საბანკო/საფინანსო სექტორში 9 წლიანი სამუშაო გამოცდილების მქონე, გამორჩეული პოზიციები - კორპორატიული ბანკირი, ფილიალის დირექტორი, ფილიალის დირექტორის მოადგილე, ბიზნეს სესხების უფროსი, საკრედიტო ექსპერტი
                </p>
                <br />
                <p>
                    სასწავლო ცენტრი "ბი პროს" დამფუძნებელი, საბანკო/საფინანსო სექტორში 9 წლიანი სამუშაო გამოცდილების მქონე, გამორჩეული პოზიციები - კორპორატიული სასწავლო ცენტრი "ბი პროს" დამფუძნებელი, საბანკო/საფინანსო სექტორში 9 წლიანი სამუშაო გამოცდილების მქონე, გამორჩეული პოზიციები - კორპორატიული ბანკირი, ფილიალის დირექტორი, ფილიალის დირექტორის მოადგილე, ბიზნეს სესხების უფროსი, საკრედიტო ექსპერტი სასწავლო ცენტრი "ბი პროს" დამფუძნებელი, საბანკო/საფინანსო სექტორში 9 წლიანი სამუშაო გამოცდილების მქონე, გამორჩეული პოზიციები - კორპორატიული ბანკირი, ფილიალის დირექტორი, ფილიალის დირექტორის მოადგილე, ბიზნეს სესხების უფროსი, საკრედიტო ექსპერტი
                </p>
                <br />
            </div>
        </div>
    </div>
</div>


<div id="courses-container" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left course">
                <label>ფინანსები ბიზნეს დაკრედიტებისთვის</label>
                <a class="btn btn-default btn-course-details" href="#">დეტალურად</a>
            </div>
        </div>

        <br />
    </div>
</div>

@section FooterSection {
    <link href="~/Content/Css/Pages/trainer.css" rel="stylesheet" />
}